# large data
*.xyz
*.pth
*.ckpt
*.lammpstrj*
*.tar
*.tar.gz
*.zip
*.npy
!results/fps/**/*.npy
results/timing_cpu/
env/venv*/
__pycache__/
*.pyc
outputs/
slurm_output/
*.egg-info/
results/pruned/
results/paper/rdf_data_summary.json
# external datasets
data/external/*/*.xyz
results/test_distance/nn_distances.csv
results/test_distance/test_descriptors.npy
results/test_distance/nn_distances.csv
*.core
